<div>
  <nav class="navbar navbar-light bg-color">

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/">
          <i class="fas fa-plus-circle"></i> Nueva orden </a>
      </li>

    </ul>
  </nav>
  <div class="mt-5 container-fluid">
    <div class="row mt-5">



      <div class="col-md-6">
        <div class="row list ">
          <div class="col-12 text-center mt-3 ">
            <div class="row">
              <div class="col-6 text-left">
                <h3>Nueva orden</h3>
              </div>
              <div class="col-6 text-right" v-if="this.orderList.length > 0">
                <button class="btn btn-primary"> Enviar
                  <i class="fas fa-share text-white"></i>
                </button>
              </div>
              <div class="col-12 text-left mt-3" v-if="this.orderList.length > 0">
                <input v-model="client" type="client" class="form-control" placeholder="Nombre de cliente">
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <ul v-if="this.orderList.length > 0" class="pl-3">
              <li v-for="element in orderList" :key="element._id" class="list-group-item my-1">
                <div class="row">
                  <div class="col-5">fsdsd
                  </div>
                  <div class="col-5 text-right"> $ sfd
                  </div>
                  <div class="col-2 text-center">
                    <i class="fas fa-times-circle pointer" v-on:click="removeToOrderLit(element)"></i>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12" v-if="this.orderList.length > 0">
            <div class="row">

              <div class="col-6">
                <h3>Total:</h3>
              </div>
              <div class="col-6 text-right">
                <h3>total</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row ">
          <div class="col-md-12">
            <div class="row text-center">
              <div class="col-md-4 col-4">
                <button class="btn btn-lg btn-info" >Comidas</button>
              </div>
              <div class="col-md-4 col-4">
                <button class="btn btn-lg btn-info" >Bebidas</button>
              </div>
              <div class="col-md-4 col-4">
                <button class="btn btn-lg btn-info" >Extras</button>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 my-4" v-if="showfood" v-for="foodies in food " :key="foodies._id">
            <div class="card">
              <img class="card-img-top" :src="foodies.imageURL" alt="Card image cap" height="120px">
              <div class="card-body text-center">
                <h5 class="title-food text-center">sfd</h5>
                <a class="btn btn-danger btn-food px-2 text-white">$ 232</a>
                <button class="btn btn-warning ml-1 btn-food" v-on:click="addToOrderList(foodies)">
                  <i class=" fas fa-plus-circle "></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 my-4" v-if="showdrink " v-for="drinks in drink " :key="drinks._id ">
            <div class="card ">
              <img class="card-img-top " :src="drinks.imageURL " alt="Card image cap " height="120px ">
              <div class="card-body text-center ">
                <h5 class="title-food text-center ">fsd</h5>
                <a class="btn btn-danger btn-food px-2 text-white">$ dsf</a>
                <button class="btn btn-warning ml-1 btn-food " v-on:click="addToOrderList(drinks)">
                  <i class="fas fa-plus-circle "></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 my-4 " v-if="showextra " v-for="extras in extra " :key="extras._id ">
            <div class="card ">
              <img class="card-img-top " :src="extras.imageURL " alt="Card image cap " height="120px ">
              <div class="card-body text-center ">
                <h5 class="title-food text-center ">fsds</h5>
                <a class="btn btn-danger btn-food px-2 text-white">$ fds</a>
                <button class="btn btn-warning ml-1 btn-food " v-on:click="addToOrderList(extras)">
                  <i class="fas fa-plus-circle "></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>

<!--
<div class="container">
  <div class="row">
      <div class="col-sm-6">
        <div>
          <nav class="navbar navbar-light bg-color">
            <a class="navbar-brand">
              <img src="https://image.ibb.co/cuWfzf/favicon.png" width="50" height="40" alt="">
            </a>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" href="/order">
                  <i class="fas fa-plus-circle"></i> Nueva orden </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-clipboard-list"></i> Ordenes</a>
              </li>
            </ul>
          </nav>
          <div class="mt-5 container-fluid">
            <div class="row mt-5">
              <div class="col-md-6">
                <div class="row ">
                  <div class="col-md-12">
                    <div class="row text-center">
                      <div class="col-md-4 col-4">
                        <button class="btn btn-lg btn-info" >Comidas</button>
                      </div>
                      <div class="col-md-4 col-4">
                        <button class="btn btn-lg btn-info" >Bebidas</button>
                      </div>
                      <div class="col-md-4 col-4">
                        <button class="btn btn-lg btn-info" >Extras</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 my-4" v-if="showfood" v-for="foodies in food " :key="foodies._id">
                    <div class="card">
                      <img class="card-img-top" :src="foodies.imageURL" alt="Card image cap" height="120px">
                      <div class="card-body text-center">
                        <h5 class="title-food text-center">sfd</h5>
                        <a class="btn btn-danger btn-food px-2 text-white">$ 232</a>
                        <button class="btn btn-warning ml-1 btn-food" v-on:click="addToOrderList(foodies)">
                          <i class=" fas fa-plus-circle "></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 my-4" v-if="showdrink " v-for="drinks in drink " :key="drinks._id ">
                    <div class="card ">
                      <img class="card-img-top " :src="drinks.imageURL " alt="Card image cap " height="120px ">
                      <div class="card-body text-center ">
                        <h5 class="title-food text-center ">fsd</h5>
                        <a class="btn btn-danger btn-food px-2 text-white">$ dsf</a>
                        <button class="btn btn-warning ml-1 btn-food " v-on:click="addToOrderList(drinks)">
                          <i class="fas fa-plus-circle "></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 my-4 " v-if="showextra " v-for="extras in extra " :key="extras._id ">
                    <div class="card ">
                      <img class="card-img-top " :src="extras.imageURL " alt="Card image cap " height="120px ">
                      <div class="card-body text-center ">
                        <h5 class="title-food text-center ">fsds</h5>
                        <a class="btn btn-danger btn-food px-2 text-white">$ fds</a>
                        <button class="btn btn-warning ml-1 btn-food " v-on:click="addToOrderList(extras)">
                          <i class="fas fa-plus-circle "></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row list ">
                  <div class="col-12 text-center mt-3 ">
                    <div class="row">
                      <div class="col-6 text-left">
                        <h3>Nueva orden</h3>
                      </div>
                      <div class="col-6 text-right" v-if="this.orderList.length > 0">
                        <button class="btn btn-primary"> Enviar
                          <i class="fas fa-share text-white"></i>
                        </button>
                      </div>
                      <div class="col-12 text-left mt-3" v-if="this.orderList.length > 0">
                        <input v-model="client" type="client" class="form-control" placeholder="Nombre de cliente">
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <ul v-if="this.orderList.length > 0" class="pl-3">
                      <li v-for="element in orderList" :key="element._id" class="list-group-item my-1">
                        <div class="row">
                          <div class="col-5">fsdsd
                          </div>
                          <div class="col-5 text-right"> $ sfd
                          </div>
                          <div class="col-2 text-center">
                            <i class="fas fa-times-circle pointer" v-on:click="removeToOrderLit(element)"></i>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-12" v-if="this.orderList.length > 0">
                    <div class="row">

                      <div class="col-6">
                        <h3>Total:</h3>
                      </div>
                      <div class="col-6 text-right">
                        <h3>total</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
              </div>
      <div class="col-sm-6">
        <div class="wrapper-menu">
          <p class="text-menu" *ngFor="let hamburger of lanches"> <img src="{{hamburger.image}}" alt="{{hamburger.name}}" title="{{hamburger.name}}" class="lanche">{{hamburger.name}}</p>
        </div>
      </div>
      <div class="col-sm-6"></div>
  </div>
</div>
-->
